In [1]:
import pandas as pd
import numpy as np

In [5]:
#Create 3 differents Series, each of length 100, as follows:

num1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
num2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
num3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(num1,num2,num3)

0     4
1     1
2     4
3     1
4     4
     ..
95    4
96    4
97    4
98    1
99    3
Length: 100, dtype: int64 0     3
1     1
2     2
3     3
4     2
     ..
95    3
96    2
97    3
98    1
99    1
Length: 100, dtype: int64 0     26659
1     12622
2     12022
3     22905
4     19921
      ...
95    28731
96    18251
97    17664
98    25320
99    29525
Length: 100, dtype: int64

In [6]:
#Let's create a DataFrame by joinning the Series by column

housemarket = pd.concat([num1, num2, num3], axis=1)
housemarket.head()

   0  1      2
0  4  3  26659
1  1  1  12622
2  4  2  12022
3  1  3  22905
4  4  2  19921

In [10]:
#Change the name of the columns to bedrs, bathrs, price_sqr_meter

housemarket.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
housemarket.head()

   bedrs  bathrs  price_sqr_meter
0      4       3            26659
1      1       1            12622
2      4       2            12022
3      1       3            22905
4      4       2            19921

In [11]:
#Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

bigcolumn = pd.concat([num1, num2, num3], axis = 0)

bigcolumn = bigcolumn.to_frame()

In [12]:
type(bigcolumn)

pandas.core.frame.DataFrame

In [14]:
bigcolumn

        0
0       4
1       1
2       4
3       1
4       4
..    ...
95  28731
96  18251
97  17664
98  25320
99  29525

[300 rows x 1 columns]

In [15]:
#Ops it seems it is going only until index 99. Is it true?

len(bigcolumn)

300

In [16]:
#Reindex the DataFrame so it goes from 0 to 299

bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        4
1        1
2        4
3        1
4        4
..     ...
295  28731
296  18251
297  17664
298  25320
299  29525

[300 rows x 1 columns]