In [1]:
import pandas as pd

In [2]:
#Create the DataFrame with the following values:

raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [7]:
#Assign it to a variable called regiment.

regiment = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])

In [8]:
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [11]:
#What is the mean preTestScore from the regiment Nighthawks?

regiment[regiment['regiment'] == 'Nighthawks'].groupby('regiment').mean()

            preTestScore  postTestScore
regiment
Nighthawks         15.25           59.5

In [15]:
#Present general statistics by company

regiment.groupby('company').describe()

        preTestScore                             ... postTestScore
               count       mean        std  min  ...           25%   50%   75%   max
company                                          ...
1st              6.0   6.666667   8.524475  2.0  ...         34.25  66.0  70.0  94.0
2nd              6.0  15.500000  14.652645  2.0  ...         58.25  62.0  68.0  94.0

[2 rows x 16 columns]

In [17]:
#What is the mean each company's preTestScore?

regiment.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [19]:
#Present the mean preTestScores grouped by regiment and company

regiment.groupby(['regiment','company']).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

In [23]:
#Present the mean preTestScores grouped by regiment and company without heirarchical indexing

regiment['preTestScore'].groupby([regiment['regiment'],regiment['company']]).mean().unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

In [24]:
#Group the entire dataframe by regiment and company

regiment.groupby(['regiment','company']).mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

In [27]:
#What is the number of observations in each regiment and company

regiment.regiment.value_counts()

Nighthawks    4
Scouts        4
Dragoons      4
Name: regiment, dtype: int64

In [28]:
regiment.company.value_counts()

2nd    6
1st    6
Name: company, dtype: int64

In [30]:
regiment.groupby(['regiment','company']).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

In [34]:
#Iterate over a group and print the name and the whole data from the regiment

iterate = [name for name in regiment.groupby('regiment')]
iterate

[('Dragoons',    regiment company    name  preTestScore  postTestScore
  4  Dragoons     1st   Cooze             3             70
  5  Dragoons     1st   Jacon             4             25
  6  Dragoons     2nd  Ryaner            24             94
  7  Dragoons     2nd    Sone            31             57),
 ('Nighthawks',      regiment company      name  preTestScore  postTestScore
  0  Nighthawks     1st    Miller             4             25
  1  Nighthawks     1st  Jacobson            24             94
  2  Nighthawks     2nd       Ali            31             57
  3  Nighthawks     2nd    Milner             2             62),
 ('Scouts',    regiment company   name  preTestScore  postTestScore
  8    Scouts     1st  Sloan             2             62
  9    Scouts     1st  Piger             3             70
  10   Scouts     2nd  Riani             2             62
  11   Scouts     2nd    Ali             3             70)]

In [37]:
iterate2 = [[name, group] for [name, group] in regiment.groupby('regiment')]
iterate2

[['Dragoons',    regiment company    name  preTestScore  postTestScore
  4  Dragoons     1st   Cooze             3             70
  5  Dragoons     1st   Jacon             4             25
  6  Dragoons     2nd  Ryaner            24             94
  7  Dragoons     2nd    Sone            31             57],
 ['Nighthawks',      regiment company      name  preTestScore  postTestScore
  0  Nighthawks     1st    Miller             4             25
  1  Nighthawks     1st  Jacobson            24             94
  2  Nighthawks     2nd       Ali            31             57
  3  Nighthawks     2nd    Milner             2             62],
 ['Scouts',    regiment company   name  preTestScore  postTestScore
  8    Scouts     1st  Sloan             2             62
  9    Scouts     1st  Piger             3             70
  10   Scouts     2nd  Riani             2             62
  11   Scouts     2nd    Ali             3             70]]